<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Service Status</title>
</head>

<body>
    <h1>Service Status</h1>
    <table>
        <tr>
            <th>Service Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for database in databases %}
        <tr>
            <td>postgrest.{{database}}.service</td>
            <td><span id="status-{{database}}">Loading...</span></td>
            <td>
                <button onclick="stopService({{database}})">Stop</button>
                <button onclick="restartService({{database}})">Restart</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <script src="{{ url_for('static', path='js/service.js') }}"></script>
</body>

</html>